body{
	margin: 0; padding: 0;
	text-align: center;
}
table{
	margin: auto;
}
header{
	background: #444444;
	margin: 0; padding: 0;
	width: auto; height: auto;
	color: white;
	text-align: center;
}
h1{
	font-family: Trattatello, fantasy ;
	font-size: 300%;
    margin-bottom: -25px;
}
article{
	margin: 0; padding: 0;
}
footer{
	background: #444444;
	text-align: center;
	margin: auto; padding: 0;
	width: auto; height: 70px;
	color: white;
}
a{
	text-decoration: none;
}
A:link{
	color: white;
	
}
A:visited{
	color: white;
		
}
A:active{
	color: white;
	
}
A:hover{
	color: white;;
	
}
img{
	border: 2px solid white;
}
input{
	border: 2px solid #bebebe; 
    background: #474747;
    font-size: 14px;
    padding: 5px 20px;
    color: white;

}
.choosedImg{
	border: 2px solid black;
}
.choosedBut{
	border: 2px solid black;
}
.modal {
	position: absolute; width: 300px; margin-left: -150px; left: 50%; top: -100%; padding: 20px; background: #fff;
	border: 1px solid black; z-index: 9999; transition: all 0.8s ease-in;
}
.overflow {
	width: 100%; height: 100%; z-index: 9998; background: rgba(0,0,0,0.7); position: absolute; top: 0;
}